<div>
	<h1>Articulos</h1>
</div>

<table>
	<thead>
		<tr>
	 		 <th> Id </th>         
	 		 <th> Marca </th> 
	 		 <th> Descripcion </th> 
	 		 <th> Precio </th> 
	 		 <th> Acción </th>
	  	</tr>
	</thead>
	<tbody>
		<% @articulos.each do |dato| %>
		  <tr>
		  	<td><%= dato[:id] %></td>
		  	<td><%= dato[:marca] %></td>
		  	<td><%= dato[:descripcion] %></td>
		  	<td><%= dato[:precio] %></td>
		  	<td><p><a href="/borraArticulo/<%= dato[:id]%>">Eliminar</a></p></td>
		  	<td><p><a href="/editar/<%= dato[:id]%>">Editar</a></p></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<p><a href="/">Menú Principal</a></p>
