  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

<div class="card-panel light-blue lighten-1"><h3 class="center-align">Lista de articulos</h3></div>

<table class="bordered">
	<thead>
		<tr>
	 		 <th> Id </th>         
	 		 <th> Marca </th> 
	 		 <th> Descripcion </th> 
	 		 <th> Precio </th> 
	 		 <th> Acción </th>
	  	</tr>
	</thead>
	<tbody>
		<% @articulos.each do |dato| %>
		  <tr>
		  	<td><%= dato[:id] %></td>
		  	<td><%= dato[:marca] %></td>
		  	<td><%= dato[:descripcion] %></td>
		  	<td><%= dato[:precio] %></td>
		  	<td><p><a href="/borraArticulo/<%= dato[:id]%>">Eliminar</a></p></td>
		  	<td><p><a href="/editar/<%= dato[:id]%>">Editar</a></p></td>
		  </tr>
		<% end %>
	</tbody>
</table>
<div class="collection">
    <a href="/" class="collection-item">Menú Principal</a>
</div>